{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1 class="text-center"><span>About us</span></h1>

  <body id="about">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

         <p>Little stars pre-school was opened in 2005 by Debbie and Sian who realised that the community of Barton-Under-Needwood
         was missing a high-quality pre-school that works closely with the adjacent infant school to give the best possible development
         opportunities and transition into school.</p>

         <p>Little stars has high quality long standing staff who really care about the well being of their children.</p>

         <p>We have a love for exploring through play in a relaxed and fun environment. Encouraging positive social interactions.</P>

        <p id = "aboutparagraph" >Located in the heart of the village with free car parking, we are a popular choice with the local parents.</p>


        <div class="jumbotron jumbotron-fluid jumbotron bg-dark text-white">
          <div class="container">

        <h2 class="text-center" id = abouttitle>Meet the team</h2>

        <p>Little stars prides itself on highly qualified and passionate staff who will nurture and educate your children. Our staff strive to develop their knowledge
        further and go out of their way to make a difference.  Each staff member has a unique quality to offer alongside specialist interests within early years.</P>

         <a href='/meet_the_team'><button id = aboutbutton> Meet the team</button>
         </div>

        </div>
         <a href='https://reports.ofsted.gov.uk/provider/16/EY315147/'><button id = ofstedbutton> Ofsted report</button>
   </div>
    </div>
   </body>

{% endblock %}