{% extends "layout.html" %}

{% block title %}
    Meet the team
{% endblock %}

{% block main %}

 <!-- MAIN (Center website) -->
<h1 class="text-center"><span>Meet the team</span></h1>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="static/staff_kate.jpg" alt="kate" style="width:100%">
      <h3>Kate Wood</h3>
      <p>CEO managing director, head of child services</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="static/staff_rich.jpg" alt="rich" style="width:100%">
      <h3>Rich Murray</h3>
      <p>Head of safeguarding, behaviour</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="static/staff_charlie.jpg" alt="charlie" style="width:100%">
      <h3>Charlie Blaney</h3>
      <p>Level 3 early years, head of child health and fitness</p>
    </div>
  </div>

</div>

<!-- END MAIN -->
</div>

{% endblock %}